@font-face { font-family: 'Lato-Bla'; src: url(/APSI/fonts/Lato-Bla.ttf) format('truetype'); }
@font-face { font-family: 'Lato-BlaIta'; src:url(/APSI/fonts/Lato-BlaIta.ttf) format('truetype'); }
@font-face { font-family: 'Lato-Bol'; src:url(/APSI/fonts/Lato-Bol.ttf) format('truetype'); }
@font-face { font-family: 'Lato-BolIta'; src:url(/APSI/fonts/Lato-BolIta.ttf) format('truetype'); }
@font-face { font-family: 'Lato-Hai'; src:url(/APSI/fonts/Lato-Hai.ttf) format('truetype'); }
@font-face { font-family: 'Lato-HaiIta'; src:url(/APSI/fonts/Lato-HaiIta.ttf) format('truetype'); }
@font-face { font-family: 'Lato-Lig'; src:url(/APSI/fonts/Lato-Lig.ttf) format('truetype'); }
@font-face { font-family: 'Lato-LigIta'; src:url(/APSI/fonts/Lato-LigIta.ttf) format('truetype'); }
@font-face { font-family: 'Lato-Reg'; src:url(/APSI/fonts/Lato-Reg.ttf) format('truetype'); }
@font-face { font-family: 'Lato-RegIta'; src:url(/APSI/fonts/Lato-RegIta.ttf) format('truetype'); }

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,pre,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,dl dt,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}



ol,ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,th,td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,blockquote {
    quotes: none;
}

q:before,q:after,blockquote:before,blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFA;
	font-family: "Lato-Lig";
	font-size: 100%;
}

i {
	margin-right: 5px;
}

a:hover {
    cursor: pointer;
}

a:focus {
    outline: none;
}

input[type="text"], select, 
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"], textarea {
	background-color: #fff;
	font-family: inherit;
	border: 1px solid #ccc;
	color: rgba(0,0,0,0 .1);
	display: block;
	font-size: 1em;
	margin: 0 0 1.14em 0;
	padding: 0.5em;
	height: 2.3em;
	width: 100%;
	box-sizing: border-box;
	transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
}

input[type="text"],select,input[type="password"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="month"],input[type="week"],input[type="email"],input[type="number"],input[type="search"],input[type="tel"],input[type="time"],input[type="url"],textarea {
    background-color: #fff;
    font-family: inherit;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.75);
    display: block;
    font-size: 1em;
    margin: 0 0 1.14286em 0;
    padding: 0.57143em;
    height: 2.64286em;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;
    transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
}

input[type="text"]:focus,select:focus,input[type="password"]:focus,input[type="date"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="time"]:focus,input[type="url"]:focus,textarea:focus {
    -webkit-box-shadow: 0 0 5px #999;
    -moz-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
    border-color: #999;
}

input[type="text"]:focus,select:focus,input[type="password"]:focus,input[type="date"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="time"]:focus,input[type="url"]:focus,textarea:focus {
    background: #fafafa;
    border-color: #999;
    outline: none;
}

input[type="text"][disabled],select[disabled],input[type="password"][disabled],input[type="date"][disabled],input[type="datetime"][disabled],input[type="datetime-local"][disabled],input[type="month"][disabled],input[type="week"][disabled],input[type="email"][disabled],input[type="number"][disabled],input[type="search"][disabled],input[type="tel"][disabled],input[type="time"][disabled],input[type="url"][disabled],textarea[disabled] {
    background-color: #ddd;
}

input[type="file"],input[type="checkbox"],input[type="radio"],select {
    margin: 0 0 1.14286em 0;
}

input[type="file"] {
    width: 100%;
}



.left,.tabs ul li,.pagination a,.action-box.action-foot,.action-box .space,.action-box form,.action-box a,.action-box button,.menu-list ul li,.main-menu ul li a i {
    float: left !important;
}

.right,.lists .list .action-box,.modal .m-head .close,.action-box {
    float: right !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.hide {
    display: none;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
}

img {
    display: inline-block;
    vertical-align: middle;
}

textarea {
    height: auto;
    min-height: 50px;
}

select {
    width: 100%;
}


input, select, textarea {
	box-shadow: none !important;
	font: -webkit-small-control;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;rows
	text-align: start;
}


form {
    margin: 0 0 1.14286em;
}

form .row .row {
    margin: 0 -0.57143em;
}

form .row .row .column,form .row .row .columns {
    padding: 0 0.57143em;
}

form .row .row.collapse {
    margin: 0;
}

form .row .row.collapse .column,form .row .row.collapse .columns {
    padding: 0;
}

form .row input.column,form .row input.columns,form .row textarea.column,form .row textarea.columns {
    padding-left: 0.57143em;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #fff;
}

a {
	text-decoration: none;
}

.container {
	width: 1600px;
	max-width: 100%;
	margin: auto;
}

.row .rows {
	max-width: 100%;
}


.rows {
	width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    *zoom: 1;
}

.rows .rows {
    width: auto;
    margin-left: -emCalc(0)/2;
    margin-right: -emCalc(0)/2;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1;
}

  

header {
	width: 100%;
	background: #383435;
}

header nav {
	width: 1600px;
	max-width: 100%;
	margin: auto ;
	background: #383435;
	text-align: center;
}

.menubar {
	display: none;
}


header nav ul {
	/*overflow: hidden;*/
	height: 40px;
	width: 100%;
	background: #383435;
}

header nav ul li {
	list-style: none;
	display: inline;
	height: 40px;
	float: left;
	width: 14.28%;
	border:1px solid #2a2627;
	border-right: 1px solid #555557;
	box-shadow: 1px 0 0 #2a2627;
	/*border-left: 1px solid rgba(255,255,255, .3);
	border-right: 1.5px solid #555557;
	border-left: 1.5px solid #2a2627;*/
	position: relative;
	background: #383435;
	border-bottom: 1px solid rgba(0,0,0, .2);
}

header nav ul li:first-child {
	border-left:none;
	box-shadow: none;
}

header nav ul li:last-child {
	border: none;
	box-shadow: none;
}

header nav ul li a {
	height: 38px;
	color: #fff;
	padding: 10px;
	display: block;
	text-decoration: none;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0, .2);
}

header nav ul li a:hover, header nav ul li a:focus {
	background: #2a2627;
}

header nav ul li span {
	margin-right: 10px;
}

nav ul ul {
	left: 0;
	list-style: none;
	background: #383435; 
	padding: 0;
 	position: absolute;
	top: 100%;
 	display: none;
 	height: auto;
}

nav ul ul li {
	float: none;
 	position: relative;
 	border: 0;
}

nav ul ul li a {
	text-align: left;

}

nav ul ul li a:hover {
	background: #2a2627;
}

.close {
	display: none;
}

.aps {
	border: none;
	box-shadow: none;
	font-size: 1.3em;
}

.aplikasi:hover, .saksi:hover {
	cursor: pointer;
}

.aplikasi {
	color: #29abe2;
	font-family: "Lato-Bla";
}

.saksi {
	color: #29abe2;
}

.more-menu {
	display: none;
}

label.aplikasi {
	padding-right: 0;
	padding-left: 10px;
	margin: 0;
}

label.saksi {
	margin: 0;
	padding-left: 0;
	padding-right: 10px;
}

/*************************
	*** PROFILE ***
**************************/

.box-welcome, .menu-profile{
	background: #29abe2;
}

.menu-profile {
	display: none;
	height: 150px;
}

.profile {
	width: 100%;
	height: 150px;
	clear: left;
}

.picture-profile {
	float: left;
}

.picture-profile img {
	width: 150px;
	height: 150px;
}

.left-prof {
	float: left !important;
	height: 110px;
	padding: 20px;
	width: 70%;
}

.id {
	max-width: 100%;
}

.id:after, .id:before {
	content: "";
	display: block;
}

.id:after, .id:before {
	clear: both;
}

.column {
	float: left;
}

.id label, .id label a {
	color: #fff;
}

.id label {
	font-size: 1em;
	cursor: pointer;
	display: block;
	font-weight: 500;
}

.id label a:hover {
	text-decoration: underline;
}

.id span {
	display: block;
	font-size: 1.2em;
	font-family: "Lato-Reg";
	color: #000;
}


/*****************************
	*** WELCOME PROFILE ***
******************************/
.welcome {
	background: #29abe2;
	height: 80px;
	clear: both;
}

.picture {
	float: left;
}

.picture img {
	width: 80px;
	height: 80px;
}

.left {
	float: left !important;
	padding: 25px;
	letter-spacing: 5px;
	font-size: 1.5em;
	width: 70%;
}

.right {
	float: right;
	margin: 20px 10px;
	font-size: 2.5em;
}

.right a {
	text-decoration: none;
	color: #000;
}

.right:hover {
	cursor: pointer;
}

.icon-angle-up {
	color: #fff;
}

#up {
	margin-top: 2.5em;
}

.nm-user {
	font-weight: bold;
}

.enable {
	display: none;
}

/* bar chart */
					

/*******************************
	*** DASHBOARD ***
********************************/
.dashboard {
	clear: both;
	width: 100%;
	padding: 50px 0;
}

.inner h3{
	text-align: center;
	font-size: 4em;
	padding-bottom: 50px;
	font-weight: inherit;
}

.row {
	max-width: 100%;
	width: 70%;
	margin: auto;
	background: #ccc;
	display: block;
	padding: 0px 15px;
}

.row:before, .row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.columns {
	float: left;
}

.large-12 {
	width: 100%;
}

.large-10 {
	width: 80%;
}

.large-9 {
	width: 75%;
}

.large-6 {
	width: 50%;
}

.large-4 {
	width: 33%;
}

.large-3 {
	width: 25%;
}

.large-2 {
	width: 17%;
}

.large-1 {
	width: 8%;
}

.row label {
	font-size: 1em;
	cursor: pointer;
	display: block;
	font-weight: 500;
	padding-bottom: 0.2em;
	margin: 0.7em 0 0 0;
}

select {
	box-shadow: none !important;
	margin: 0 0 0.5em 0;
	background: #fff;
	font-weight: inherit;
	border: 1px solid #ccc;
	display: block;
	font-size: 1em;
	width: 100%;
	height: 2.6em;
	padding: 0.7em;
}
.inline-button,.inline-button-width-auto,.main-title .form button {
    width: 100%;
    text-align: center;
    padding-top: 11px;
   /* padding-bottom: 11px;*/
    padding-left: 5px;
    padding-right: 5px;
}

.inline-button-width-auto {
    width: auto;
    padding-left: 13.33333px;
    padding-right: 13.33333px;
}

.centered {
    text-align: center;
}

button,.button {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 1.42857em;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-top: 0.85714em;
    padding-right: 1.71429em;
    padding-bottom: 0.92857em;
    padding-left: 1.71429em;
    font-size: 1.14286em;
    background-color: #2e6da4;
    border-color: #388288;
    color: #fff;
}

button.large,.button.large {
    padding-top: 1.14286em;
    padding-right: 2.28571em;
    padding-bottom: 1.21429em;
    padding-left: 2.28571em;
    font-size: 1.42857em;
}

button.small,.button.small {
    padding-top: 0.64286em;
    padding-right: 1.28571em;
    padding-bottom: 0.71429em;
    padding-left: 1.28571em;
    font-size: 0.92857em;
}

button.tiny,.button.tiny {
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.57143em;
    padding-left: 1em;
    font-size: 0.78571em;
}

button.expand,.button.expand {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
}

button.left-align,.button.left-align {
    text-align: left;
    text-indent: 0.85714em;
}

button.right-align,.button.right-align {
    text-align: right;
    padding-right: 0.85714em;
}

button.disabled,button[disabled],.button.disabled,.button[disabled] {
    background-color: #47a5ac;
    border-color: #388288;
    color: #fff;
    cursor: default;
    opacity: 0.6;
    -webkit-box-shadow: none;
    box-shadow: none;
}


button,.button {
    padding-top: 0.92857em;
    padding-bottom: 0.85714em;
    -webkit-appearance: none;
}

button.tiny,.button.tiny {
    padding-top: 0.57143em;
    padding-bottom: 0.5em;
    -webkit-appearance: none;
}

button.small,.button.small {
    padding-top: 0.71429em;
    padding-bottom: 0.64286em;
    -webkit-appearance: none;
}

button.large,.button.large {
    padding-top: 1.17857em;
    padding-bottom: 1.17857em;
    -webkit-appearance: none;
}

button,.button {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    font-weight: normal;
    font-size: 100%;
}

button.b-blue,.button.b-blue {
    background-color: #2e6da4;
    border-color: #1c6b9a;
    color: #fff;
}

button:hover, .button:hover{
	background: #1a73bf;
}

button i,.button i {
    margin-right: 5px;
}

/*****************************
	*** VOTING ***
******************************/
.vote {
	width: 100%;
	background: #000;
	color: #29abe2;
	font-weight: bold;
	font-family: "Lato-Reg";
	overflow: hidden;
}

.vote2 {
	width: 100%;
	background: #29abe2;
	color: #000;
	font-weight: bold;
	font-family: "Lato-Reg";
	overflow: hidden;
}

.allvote {
	float: right;
	text-align: right;
	padding: 30px 80px;
}

.allvote label {
	display: block;
	font-size: 3em;
}

.allvote small {
	font-size: 1em;
	font-weight: inherit;
	font-family: "Lato-Lig";
}

p {
	margin: 5px 0 30px 0;
}

.table-vote {
	margin: auto;
	width: 90%;
    border-bottom: 3px solid #47a5ac;
    margin-bottom: 20px;
}

.table-vote th {
    font-weight: bold;
    font-family: "Lato-Bol";
    background:  silver;
    padding: 10px 5px;
    line-height: 100%;
    border-bottom: 1.5px solid #fff;
}

.table-vote td {
	padding: 10px 5px;
	line-height: 100%;
}

.table-vote tbody tr:nth-child(odd){
	background: #f0f0f0;
	border-bottom: 1.5px solid #fff;
}

.table-vote tbody tr:nth-child(even){
	background: silver;
	border-bottom: 1.5px solid #fff;
}

th.text-right, td.text-right {
	text-align: right;
	padding-right: 20px;
}

h6 {
	font-size: 24px;
	padding: 7px;
	font-weight: inherit;
}

.txtTps {
	font-family: "Lato-Reg";
	font-weight: bold;
}

.judul {
	text-align: left;
	position: relative;
	width: 90%;
	margin: auto;
	background: #29abe2;
	overflow: hidden;
	border-bottom: 1px solid #fff;
}

.judul:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 50px 50px 0 0;
	border-style: solid;
	border-color:#29abe2 #000 #000 #29abe2;
	display: block; width: 0;
}

.inner {
	padding: 30px;
}


.main-title {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 20px;
}

.main-title h4 {
	font-size: 32px;
    margin: 0 0 10px;
    font-family: "LatoRegular",sans-serif;
    font-weight: normal;
    color: #666;
}

.main-title h4 i {
    font-size: 75%;
    display: inline-block;
    margin-right: 5px;
}

.main-title .form {
    text-align: right;
}


h4 {
	line-height: 42px;
	vertical-align: baseline;
	font: inherit;
}


.rows:before, .rows:after {
	content: "";
	display: table;
}

.rows:after {
	clear: both;
}

.large-2.text-right {
	text-align: right;
	padding-right: 0;
	float: right;
}

.large-2.text-right a {
	color: #000;
}

.large-2.text-right a:hover {
	text-decoration: underline;
	color: #3b83c0;
	font-weight: 500;
}

.field label  {
	font-size: 1em;
	color: #4d4d4d;
	cursor: pointer;
	display: block;
	font-weight: 500;
	margin-bottom: 0.21429em;
	width: 50%;
}


.large-4.text-right {
	text-align: right;
	padding: 0;
	float: right;
	margin-top: 5px;
	font-size: 15px;
}


.tabs {
    margin-bottom: 20px;
}

.tabs ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 4px solid #1a73bf;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
}

.tabs ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
   	
}

.tabs ul li a {
    color: #fff;
    display: block;
    padding: 10px 20px 5px;
    background: #686868;
    text-decoration: none;
    margin-top: 5px;
    border: 1px solid #606060;
    border-bottom-width: 0;
}

.tabs ul li a:hover {
    background: #636363;
}

.tabs ul li a:active,.tabs ul li a:focus {
    background: #5b5b5b;
}

.tabs ul li.selected a {
    margin-top: 0;
    background: #2e6da4;
    color: #fff;
    padding-top: 13px;
    padding-bottom: 7px;
    font-family: "LatoRegular",sans-serif;
    font-size: 115%;
    border-color: #4f8cbf;
}

.menu-list {
	margin-bottom: 20px;
}

.menu-list ul {
	line-height: 24px;
	color: #666;
	font-size: 15px;
}

.menu-list ul li {
	display: inline-block;
	margin: 0;
	padding: 5px 10px 5px 0;
}

.menu-list ul li a {
	color: #3981bd;
	padding: 1px 7px;
}

.menu-list ul li.spacer {
	border-left: 1px solid #e8e8e8;
	padding-left: 10px;
	margin-left: 10px
}






footer {
	margin-top: 100px;
	text-align: center;
	padding: 1.2em 0;
	font-weight: 100;
	font-size: 0.80em;
	color: #ccc;
	bottom: 0;
	backface-visibility: hidden;
}


@media only screen {
    .column,.columns {
        padding-left: emCalc(0)/2;
        padding-right: emCalc(0)/2;
        float: left;
    }

    .small-1 {
        position: relative;
        width: 8.33333%;
    }

    .small-2 {
        position: relative;
        width: 16.66667%;
    }

    .small-3 {
        position: relative;
        width: 25%;
    }

    .small-4 {
        position: relative;
        width: 33.33333%;
    }

    .small-5 {
        position: relative;
        width: 41.66667%;
    }

    .small-6 {
        position: relative;
        width: 50%;
    }

    .small-7 {
        position: relative;
        width: 58.33333%;
    }

    .small-8 {
        position: relative;
        width: 66.66667%;
    }

    .small-9 {
        position: relative;
        width: 75%;
    }

    .small-10 {
        position: relative;
        width: 83.33333%;
    }

    .small-11 {
        position: relative;
        width: 91.66667%;
    }

    .small-12 {
        position: relative;
        width: 100%;
    }

    .small-offset-0 {
        position: relative;
        margin-left: 0%;
    }

    .small-offset-1 {
        position: relative;
        margin-left: 8.33333%;
    }

    .small-offset-2 {
        position: relative;
        margin-left: 16.66667%;
    }

    .small-offset-3 {
        position: relative;
        margin-left: 25%;
    }

    .small-offset-4 {
        position: relative;
        margin-left: 33.33333%;
    }

    .small-offset-5 {
        position: relative;
        margin-left: 41.66667%;
    }

    .small-offset-6 {
        position: relative;
        margin-left: 50%;
    }

    .small-offset-7 {
        position: relative;
        margin-left: 58.33333%;
    }

    .small-offset-8 {
        position: relative;
        margin-left: 66.66667%;
    }

    .small-offset-9 {
        position: relative;
        margin-left: 75%;
    }

    .small-offset-10 {
        position: relative;
        margin-left: 83.33333%;
    }
/*
    [class*="column"]+[class*="column"]:last-child {
        float: right;
    }
*/
    [class*="column"]+[class*="column"].end {
        float: left;
    }

    .column.small-centered,.columns.small-centered {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        float: none !important;
    };
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
	nav {
		width: 100%;
		height: 100%;
	}

	.large-2.column {
		width: 20%;
	}
	
	.aps {
		font-size: 1.1em;
	}

}

@media screen and (max-width: 980px){
	nav span {
		display: none;
	}

	.aps {
		font-size: 1em;
	}

	.aps a {
		padding-left: 0;
	}
	
	.left-prof {
		width: 80%;
	}
	


}

@media screen and (max-width: 783px){
	nav span {
		display: none;
	}



}

@media only screen and (max-width: 781px) {
	.qc a, .vs a {
		padding: 10px 5px;
	}

	.picture-profile img {
		display: none;
	}

	.left-prof {
		width: 90%;
	}

	#up {
		margin-top: 2em;
	}

	.row {
		width: 100%;
	}
}

@media only screen and (max-width: 712px) {
	.qc a, .vs a {
		padding: 2px 10px;
	}

}

@media only screen and (max-width: 690px) {

	header {
		background: none;
	}

	header nav {
		width: 100%;
		height: 100%;
		left: -100%;	
		margin: 0;
		position: absolute;
	}

	header nav span {
		display: inline-block;
	}

	header nav ul {
		height: auto;
		position: absolute;
	}

	header nav:target > ul {
		display: block;
	}

	header nav > ul > li {
		float: none;
		border: none;
		width: 100%;
		text-align: left;
		position: relative;	
	}

	header nav ul ul li a {
		background: #2a2627;
	}


	header nav ul ul li a:hover {
		background: #201d1e;
	}

	header nav ul li:first-child {
		/*border-bottom: 1px solid rgba(255,255,255, .3);*/
	}

	nav ul ul {
		width:100%;
		position: static;
	}

	.close {
		display: block;
		position: absolute;
	}

	.menubar {
		display: block;
		width: 100%;
		background: #383435;
	}

	.menubar .bt-menu {
		display: block;
		padding: 10px;
		color: #fff;
		border-bottom: 1px solid rgba(0,0,0, 0.2);
		text-decoration: none;
		font-weight: bold;
		font-size: 1.3em;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.menubar img {
		float: left;
		font-size: 20px;
		width: 20px;
		padding: 2px 0 0 0;
	}

	.menubar a {
		text-align: center;
	}

	.menu-profile {
		height: 130px;
	}

	.left {
		padding: 20px;
		padding-right: 0;
		font-size: 1em;
		width: 55%;
	}

	.left-prof {
		width: 85%;
		padding: 0;
		padding: 20px;
	}

	 .id {
		padding-right: 0;
		font-size: 0.9em;
		
	}

	.right {
		padding: 10px;
		margin-top: 10px;
		font-size: 1.5em;
	}

	.columns {
		float: none;
		width: 100%;
		height: 100%;
	}

	.row:last-child {
		padding-bottom: 10px;
	}

	.aps {
		display: none;
	}
	
	.welcome {
		height: 60px;
	}

	.picture img {
		width: 60px;
		height: 60px;
	}

	.picture-profile img {
		display: none;
	}

	.inner h3 {
		font-size: 3em;
	}

	input {
		padding: 10px;
	}

	.row {
		width: 100%;
	}

	.qc a, .vs a {
		padding: 10px;
	}

	  .tabs ul li {
        display: block !important;
        float: none !important;
    }

    .tabs ul li a {
        padding: 10px 20px;
        margin-top: 0;
    }

    .tabs ul li.selected a {
        padding: 10px 20px;
    };


}



@media only screen and (max-width: 557px) {
 	.left {
 		padding: 15px;
 	}

 	.left-prof {
 		width: 95%;
 	}

 	#up {
		margin-top: 0;
 	}
}


@media only screen and (max-width: 397px) {
	.left {
		width: 70%;
	}

	.right {
		margin: 10px 0;
	}

	.left-prof {
		padding: 0;
		width: 85%;
	}

	.main-title h4 {
		font-size: 25px;
	}

	.inner {
		padding: 10px;
	}

	.columns3, .columns4, .disable, .columns8, .columns11 {
		display: none;
	}

	.id {
		padding: 5px 10px;
	}

	.enable {
		display: block;
	}

	.large-2.column {
		width: 45%;
	}

	.large-3.column {
		width: 45%;
	}

	.large-3 a:hover {
		text-decoration: underline;
		color: #fff;
	}

}